.breacking_bad_list {
  display: grid;
  height: 100%;
  .cards_wrapper {
    justify-content: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 288px);
    gap: 20px;
  }
  .spinner {
    align-self: center;
  }
  .pagination_wrapper {
    justify-self: center;
    padding-top: 50px;
  }
}
